@import 'hamburgers/burgers';
.wp-block-lfdb-lfdb-hamburger {
    display: inline-block;
    border: var(--icone-burger-border-size) solid var(--icone-burger-color);
    border-radius: var(--icone-borderRadiusSize);
    background-color: var(--icone-couleur-de-fond);
}

@media screen and (min-width: 980px) {
    .wp-block-lfdb-lfdb-hamburger {
        display: none;
    }
}